// ** VARIABLES SCSS ** //
$color-primary: #f56565;
$color-primary-hover: #c53535;

$color-secondary: #3c3c3c;
$color-secondary-hover: #c53535;

$color-required: #D363DF;

$color-neutral: #ffffff;
$color-black: #3c3c3c;
$color-black-light: #929292;

$color-gray: #bfbfbf;
$color-light-gray: #d4d4d4;

$font-primary: Helvetica, Arial, sans-serif;

$baseFontSize: 14px;
$input-height: 32px;